body {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}

* {
    box-sizing: border-box;
}

header {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
}

nav li {
  padding-right: 1rem;
  display: inline-block;
}

main {
  margin: auto;
  width: 75%;
  padding: 2rem 4rem 8rem 4rem;
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    padding: 1rem 2rem 4rem 2rem;
  }

  nav li {
    padding: 0.25rem;
  }

  .desktop {
    display: none;
  }
}

article {
  font-size: 1.15rem;
  padding-bottom: 1.25rem;
}

h1 {
  font-size: 3rem;
  margin: 0.67rem 0;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 0.25rem;
}

a, a:visited {
  color: #0000EE;
}

a.post:visited, a.post:link {
  text-decoration:none;
}

div.subtitle {
  color: #808080;
  font-size: 0.9rem;
}

pre {
   font-size: 0.85rem;
}
