<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ $.Site.Params.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" content="{{ $.Site.Params.author }}">
    <meta name="description" content="{{ $.Site.Params.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <header class="tc pal b-near-white">
    <h1 class="f6 thin link-child"><a href="/">{{ $.Site.Params.title }}</a></h1>
    <nav>
      <ul class="list pln">
        <li class="dib prm"><a href="/">Home</a></li>
        <li class="dib prm"><a href="/about">About</a></li>
        <li class="dib prm"><a href="https://github.com/{{ $.Site.Params.github }}">GitHub</a></li>
        <li class="dib prm"><a href="https://twitter.com/{{ $.Site.Params.twitter }}">Twitter</a></li>
        <li class="dib prm"><a href="/index.xml">RSS</a></li>
      </ul>
    </nav>
  </header>
